<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/style.css">
<head>
    <title>Данные о ДЗЗ</title>
</head>
<body style="display:flex; align-items:center; justify-content:center; ">
<ol>
    <li style="list-style-type:none">
        <a href="raw_data">
            <button class="button">
                Посмотреть таблицу
            </button>
        </a>
    </li>
    <li style="list-style-type:none">
        <a href="satellite_images">
            <button class="button">
                Спутниковые изображения
            </button>
        </a>
    </li>
    <li style="list-style-type:none">
        <a href="radar_images">
            <button class="button">
                Радарные снимки
            </button>
        </a>
    </li>
    <li style="list-style-type:none">
        <a href="satellite_altimetry">
            <button class="button">
                Спутниковая альтиметрия
            </button>
        </a>
    </li>
    <li style="list-style-type:none">
        <a href="satellite_gravimetry">
            <button class="button">
                Спутниковая гравиметрия
            </button>
        </a>
    </li>
    <li style="list-style-type:none">
        <a href="satellite_magnetometry">
            <button class="button">
                Спутниковая магнитометрия
            </button>
        </a>
    </li>
</ol>

</body>
</html>